*, *::before, *::after {
    box-sizing: border-box;
  }

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }

.outfit-text {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color:hsl(30, 54%, 90%);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

li {
    margin-bottom: 10px;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    margin-bottom: 0px;
}

h2 {
    color: hsl(14, 45%, 36%);
}

h3 {
    color: hsl(332, 51%, 32%);
    padding-left: 20px;
}

p, li {
    font-size: 16px;
    color: hsl(30, 10%, 34%);
}

.container {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 50px auto;
    padding: 40px;
    width: 75%;
    flex-direction: column;
    justify-content: center;
}

.ingredients , .instructions {
    border-bottom: 0.5px solid hsl(30, 18%, 87%);
    padding-bottom: 10px;
}

.bold {
    font-weight: 700;
}

.prep-box {
    background-color: hsl(330, 100%, 98%);
    margin-top: 10px;
}

.grid-container {
    display: grid;
    padding-left: 20px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.grid-container>div {
    margin-bottom: 10px;
}

.grid-container>div:nth-of-type(-n+6) {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.grid-container>div:nth-of-type(even) {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.grid-container>div:nth-of-type(odd) {
    color: hsl(30, 10%, 34%);
}

@media  (max-width: 375px) {  
    .container {
        border-radius: 0px;
        padding: 0px;
    }
    
}